
/*
Edited by @UsernameError3
Style List:
1.  Base Styles
2.  Layout Styles
3.  Gear Hover Styles
4.  Pure Form Styles
5.  Pure Button Styles
5.  Nav Styles
7.  Banner Styles
8.  Content Styles
9.  Footer Styles
10. Phone Media Queries
11. Tablet Media Queries
12. Desktop Media Queries
*/

/*Dont Delete*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
 * -- 1. BASE STYLES --
 * Most of these are inherited from Base, Body Background Color.
 */
body {
    line-height: 1.7em;
    color: #ffcb00;
    font-size: 13px;
    background-color: #000000;
}

h1,h2,h3,h4,h5,h6,label {
    color: #ffcb00;
}

/*  Link Color */
a:link {
    color: #ffcb00;

}

/*--Text Color Overides--*/
.gold-text {
    color: #ffcb00 !important;
}

.purple-text {
  color: #420284 !important;
}

.red-text {
  color: #CB0000 !important;
}

.blue-text {
    color: #0000bb !important;
}

/*--Background Color Overide--*/
.gold-over {
    background-color: #ffcb00 !important;
}

.purple-over {
  background-color: #420284 !important;
}

.red-over {
  background-color: #720c0c !important;
}

.blue-over {
    background-color: #000040 !important;
}

/*
 * -- 2. LAYOUT STYLES --
 */
.l-box {
    padding: 1em;
}

.l-box-lrg {
    padding: 2em;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

.is-center {
    text-align: center;
}

/*--BORDER TRIMS--*/

/*--COLORS--*/
.border-titan-trim {
  border-color: #CB0000 !important;
}

.border-titan-thin {
  border-color: #ffcb00 !important;
}

.border-muses-trim {
  border-color: #5603af !important;
}

.border-muses-thin {
  border-color: #ffcb00 !important;
}

/*--THICK--*/
.border-top-trim {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #0000bb;
}

.border-bottom-trim {
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: #0000bb;
}

/*--THIN--*/

.border-top-thin {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #ffcb00;
}

.border-bottom-thin {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #ffcb00;
}



/*
 * -- 3. GEAR HOVER STYLES --
 * Only works on a Black Base Background, Requires Hollow PNG image, Changes color on Hover.
 * Only apply "multiply" on top of white, use "screen" if icon is black
 */
.icon-red {
    background-color: #ffae00; /* Base Icon Background */
    position: relative;
    }

    .icon-red:hover {
	    background-color: #CB0000; /* The color you want the icon to change to */
	    mix-blend-mode: screen;
    }

.icon-blue {
      background-color: #ffae00; /* Base Icon Background */
      position: relative;
        }

      .icon-blue:hover {
    	  background-color: #0000bb; /* The color you want the icon to change to */
    	  mix-blend-mode: screen;
      }

.icon-purple {
      background-color: #ffae00; /* Base Icon Background */
      position: relative;
          }

        .icon-purple:hover {
      	  background-color: #420284; /* The color you want the icon to change to */
          mix-blend-mode: screen;
        }


/*
 * -- 5. PURE BUTTON STYLES --
 */
.pure-button {
    background-color: #ffcb00;
    color: #001248;
    padding: 0.5em 2em;
    border-radius: 5px;
    font-weight: bold;
}

a.pure-button-primary {
    background-color: #001248;
    color: #ffcb00;
    border-radius: 5px;
    font-size: 120%;
    font-weight: bold;
}


/*
 * -- 6. NAV STYLES --
 */


/* header */

.header {
  background-color: #000;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #000;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  color: #ffcb00;
}

.header li a:hover,
.header .menu-btn:hover {
  color: #0000ee;
}

.header .logo {
  color: #ffcb00;
  display: block;
  float: left;
  font-weight: 400;
  font-size: 125%;
  padding: 20px 15px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #ffcb00;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #ffcb00;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* section */

.section {
  overflow: hidden;
  margin: auto;
  max-width: 1400px;
}

.section a {
  position: relative;
  float: left;
  width: 100%;
}

.section a img {
  width: 100%;
  display: block;
}

.section a span {
  color: #fff;
  position: absolute;
  left: 5%;
  bottom: 5%;
  font-size: 2em;
  text-shadow: 1px 1px 0 #000;
}

.section-split a span {
  display: none;
}

.section-split a:hover span {
  display: block;
}


/* Dropdown Button */
.container {
    overflow: hidden;
    background-color: #000;
}

.container a {
    float: left;
    font-size: 16px;
    color: #ffcb00;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: #ffcb00;
    padding: 20px 20px;
    background-color: inherit;
}

.container a:hover, .dropdown:hover .dropbtn {
    color: #0000bb;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    font-size: 16px;
    color: #ffcb00;
    padding: 5px 15px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    color: #0000bb;
}

.show {
    display: block;
}


/*
 * -- 7. BANNER STYLES --
 */

.titan-banner {
        height: 800px;
        width: 100%;
        display: table;
        color: #000;
        background: url(../img/titan-banner.jpg) no-repeat center center;
        background-size: cover;
}

.ohm-banner {
        height: 800px;
        width: 100%;
        display: table;
        color: #000;
        background: url(../img/ohm-banner.jpg) no-repeat center center;
        background-size: cover;
}

.muse-banner {
        height: 800px;
        width: 100%;
        display: table;
        color: #000;
        background: url(../img/muse-banner.jpg) no-repeat center center;
        background-size: cover;
}

.banner {
    height: 800px;
    width: 100%;
    display: table;
    color: #000;
    background: url(../img/banner.jpg) no-repeat center center;
    background-size: cover;
}

.banner-head {
    max-width: 100%;
    vertical-align: middle;
    margin-bottom: 0;
    margin: auto;
    margin-top: 5.5em;
    position: relative;
}

.banner-text {
    font-size: 50px;
    font-weight: bold;
    line-height: 100%;
    color: #ffcb00;
    -webkit-text-stroke: 2px #000;
}


/*
 * -- 8. CONTENT STYLES --
 * This represents the content area (everything below the banner)
 */
.content-color {
    background-color: #000000;

}

/* We want to give the content area some more padding */
.content {
    padding: 1em 1em 3em;
}

/* This is the class used for the main content headers (<h2>) */
.content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
}

/* This is a modifier class used when the content-head is inside a ribbon */
.content-head-ribbon {
    color: #0000bb;
}

/* This is the class used for the content sub-headers (<h3>) */
.content-subhead {
    color: #ffcb00;
}
    .content-subhead i {
        margin-right: 7px;
    }

/* This is the class used for the light-background areas. */
.ribbon {
    background: #fafafa;
    color: #0000bb;
}

/* This is the class used for the light-background areas. */
.ribbon2 {
    background: #000040;
    color: #ffcb00;
}

/*
 * -- 9. FOOTER STYLES --
 */
.footer {
    background: #000000;
    color: #ffcb00;
    bottom: 0;
    width: 100%;
/*  position: fixed;  Makes Footer Stick*/
}


/*
 * -- 10. Mobile (AND BELOW) MEDIA QUERIES --
 * On mobile and other small devices, we want to over-ride some
 * of the desktop and tablet styles.
 */





/*
 * -- 11. TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */

/* 48em = 768px */
@media (min-width: 48em) {

    /* We increase the body font size */
    body {
        font-size: 16px;
    }

    .section-split a {
      width: 50%;
    }

    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }


    /* We remove the border-separator assigned to .l-box-lrg */
    .l-box-lrg {
        border: none;
    }

}

/*
 * -- 12. DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
@media (min-width: 78em) {

  .home-menu .pure-menu-heading {
      font-size: 125%;

  }


}
